/* CSS Document */
body {
	align-items: center;
	align:left;
}

img {
	float:right;
	margin:20px;
	align: top;
	border: thick;
	border-color: white;
}

p {
	font-size: 20px
}

#AlignPicture {
	align-content: center;
	display:inline-block;
	position:absolute;
	margin-left:50px;
	margin-top: 20px;
}

#Github{
	align-content: center;
	display:inline-block;
	position:absolute;
	margin-left: 200px;
	margin-top: 300px;
}
#Github a {
	color: orange;
}